{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                    <li class="menu-title">
                      <span>Main Menu</span>
                    </li>
                    
                    <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Teacher</span> <span class="menu-arrow"></span></a>
                     <ul>
                       <li><a href="{% url 'register_teacher' %}">Add Teacher</a></li>
                       <li><a href="{% url 'teacher_view' %}">View Teacher</a></li>
                     </ul>
                   </li>
                   <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Academics</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'assign_subject' %}">Add Academics</a></li>
                      
                      <li><a href="{% url 'view_subjects' %}">view Academics</a></li>
                    </ul>
                  </li>
                    <li class="submenu">
                      <a href="#"><i class="fas fa-user-graduate"></i> <span> Assign Faculty</span> <span class="menu-arrow"></span></a>
                      <ul>
                        <li><a href="{% url 'assign_teacher' %}">Assign  Faculty </a></li>
                        <!-- <li><a href="aca_edit.html">Edit Academics</a></li> -->
                        <li><a href="{% url 'view_assigned_teachers' %}">View Faculty</a></li>
                      </ul>
                    </li>
        
                    <li class="submenu">
                      <a href="#"><i class="fas fa-baseball-ball"></i> <span> Sports</span> <span class="menu-arrow"></span></a>
                      <ul>
                        <li><a href="{% url 'assign_sport_teacher' %}">Add sport</a></li>
                        <li><a href="{% url 'view_sports_teacher' %}">View Sport</a></li>
                      </ul>
                    </li>
        
        
                    <li class="submenu">
                      <a href="#"><i class="fas fa-user-graduate"></i> <span> Cultural</span> <span class="menu-arrow"></span></a>
                      <ul>  
                        <li><a href="{% url 'assign_cultural_teacher' %}">Add Cultural</a></li>
                        <li><a href="cul_edit.html">Edit Cultural</a></li>
                      </ul>
                    </li>
        
                    
        
                  </ul>
                </div>
            </div>
         </div>
   
      <footer>
               <p>Copyright © 2020 Dreamguys.</p>
      </footer>