
<div class="container base-container bookEdit" style="margin-top: 30px; margin-bottom: 30px;">
    <h1>Teacher register</h1>
    <style>
        .name{
            margin: 40px;
        }
    </style>
      <hr>
      <div class="d-flex justify-content-center justify-content-md-start">
        <div class="base-div col-md-8 col-lg-4" style="background-color: whitesmoke; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
      -3px -3px 4px rgba(255, 255, 255, 1); margin-top: 30px;">
          <article class="card-body col-md-9 col-lg-9" style="margin: 0 auto;">
            <form action="" method="POST">
              {% csrf_token %}
              {{form}}
              {{info_form}}
            
            <div style="display: grid;">
            <button class="btn btn-brand mt-3" type="submit">Save </button>
            </div>
        </form>
          </article>
        </div>
      </div>
    </div>
    