

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Teachers</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="students.html">Teachers</a></li>
          <li class="breadcrumb-item active">Add Teachers</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
            <!-- <div class="row"> -->
            <div class="col-12">
              <h5 class="form-title"><span>Teacher Information</span></h5>
            </div>
            <form action="" method="POST">
              {% csrf_token %}
              {{form}}
              {{info_form}}


<br>
            <div class="col-12" style="margin-left: -12px;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
  
  