

{% extends 'base.html' %}
{% load google_translate %}

{% load static %}

{% block content %}

<style>
  #google_translate_element{
    position: relative;
    left: 985px;
    top: -110px;
  }
</style>
<div class="col-sm-12">
  {% google_translate %}




          Sport : {{sport_badges}}
            <div class="card">
              <div class="card-body">

                {{request.user}}
                {{ chart|safe }}

              </div>
            </div>
          </div>
        </div>


{% endblock %}


