{% load static %}
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                    <li class="menu-title">
                      <span>Main Menu</span>
                    </li>
        
            
        
                    <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Student</span> <span class="menu-arrow"></span></a>
                     <ul>
                       <li><a href="{% url 'filter_class_subject' %}">Add Student Manually</a></li>
                       <li><a href="{% url 'add_student_excel' %}">Add Students from excel</a></li>
                       <li><a href="{% url 'view_student' %}">View Student</a></li>
                     </ul>
                   </li>
                  
                   <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Student Test</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'add_test' %}">Add Test</a></li>
                      <li><a href="{% url 'view_all_test' %}">View Test</a></li>
                    </ul>
                  </li>
                  
                  <!-- <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Outcome Details</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'select_sport' %}"> Add Outcome Subject</a></li>
                      <li><a href="{% url 'view_sport' %}">View Achievement</a></li>
                    </ul>
                  </li> -->

                  <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Student Evaluation</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'select_subject_test' %}">Add Marks</a></li>
                      
                    </ul>
                  </li>
                    <!-- <li class="submenu">
                      <a href="#"><i class="fas fa-user-graduate"></i> <span>Student Charts</span> <span class="menu-arrow"></span></a>
                      <ul>
                        <li><a href="{% url 'select_subject_test' %}"> Marks Charts</a></li>
                        <li><a href="{% url 'view_all_test' %}">View Test</a></li>
                      </ul>
                    </li> -->


                  <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Student Outcomes</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'filter_student_marks_outcomes1' %}"> View Outcomes</a></li>
                    </ul>
                  </li>


                  
    

                   <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Sports</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'select_sport' %}"> Add Achievement</a></li>
                      <li><a hhref="{% url 'view_sport' %}">View Achievement</a></li>
                    </ul>
                  </li>
                  

                  <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Cultural</span> <span class="menu-arrow"></span></a>
                    <ul>
                      <li><a href="{% url 'select_cultural' %}"> Add Achievement</a></li>
                      <li><a href="#">View Achievement</a></li>
                    </ul>
                  </li>
                  </ul>
                </div>
            </div>
         </div>
   
      <footer>
                
      </footer>




