
     


{% extends 'govtbase.html' %}
{% load static %}


{% block content %}
<div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Subject</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="teachers.html">Government</a>
            </li>
            <li class="breadcrumb-item active">Add Subject</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'gov_add_subject' %}"  enctype="multipart/form-data" method="POST">
              <div class="row">
                        
                {% csrf_token %}
  
                <div class="col-sm-11">
                  <div class="form-group">
                    {{form}}
                  </div>
                </div>
                <div class="col-sm-11">
                    <div class="form-group">
                        <input type="text" name="noot" id="noot">
                        <input type="button" value="Generate" onclick="textBox();" />
                        
                    </div>
                  </div>
             
                  <div class="col-sm-11">
                    <div class="form-group">
                        <div id="divSelections">
                        </div>
                        
                        <script type="text/javascript">
                            function textBox() {
                                var number = parseInt(document.getElementById('noot').value);
                                var count=0
                                for (var i = 0; i < number; i++) {
                                    var existingSelection = document.getElementById('divSelections').innerHTML;
                                    count=count+1
                                    document.getElementById('divSelections').innerHTML = existingSelection + '<label for="">LO ' + count + '</label> <input type="text" class="form-control" id="text' + i + '" name="text' + i + '"><br> <br> <br>';
                                }
                            }
                        
                        </script>
                    </div>
                  </div>
             
               
    
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
