
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students Marks</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h2>Course Outcome</h2>

          {% for i in ot_list %}
  
          {{ forloop.counter}} {{i}}  <br>
  
          {% endfor %}
          <div class="card-body">
            <h5 class="form-title"><span>Student Information</span></h5>
            <form   action="{% url 'add_student_marks' %}"  method="POST">
              {% csrf_token %}
             
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Choose Roll Number</label>
                  <select class="form-control" name="student_roll">
                    <option >Choose Roll Number</option>
                    {% for i in student_data %}
                    <option value="{{i.student_roll}}" >{{i.student_roll}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     


             
              <div class=" col-sm-11">
                <div class="form-group">
              <select class="form-control"  name="test_session" aria-label=".form-select-lg example">
                  <option selected>Choose Session</option>
                  {% for i in test_session %}
                  <option value="{{i}}" selected>{{i}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
   
        
            <div class=" col-sm-11">
              <div class="form-group">

            <select class="form-control"  name="test_class" aria-label=".form-select-lg example">

              <option selected>Choose Class</option>
              {% for i in test_class %}
              <option value="{{i}}" selected>{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class=" col-sm-11">
          <div class="form-group">
            <select class="form-control"  name="test_subject" aria-label=".form-select-lg example">
              <option selected>Choose Subject</option>
              {% for i in test_subject %}
              <option value="{{i}}" selected>{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class=" col-sm-11">
          <div class="form-group">
            <select class="form-control"  name="test_type" aria-label=".form-select-lg example">
              <option selected>Choose Test Type</option>
              {% for i in test_type %}
              <option value="{{i}}" selected>{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>


        <div class="">
          {% for i in questions %}
                <span> <b>Question</b>::{{ forloop.counter}}</span>
                <span class="">   {{ i}}</span>
                <br>
           
    {% endfor %}
  </div>


        {% for i in question_marks %}
        <div class=" col-sm-8">
          {% if forloop.counter == 1  %}
          <label for="">Total Question</label>
          <label for="" >{{mark_box_count}}</label>
        <label style="position: relative; float: right;" for="">Max Marks</label>
        {% endif %}
          <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Question {{ forloop.counter}}</span>
          </div>
          <input type="text" class="form-control" name="mark{{ forloop.counter}}"  placeholder="Obtained Marks">
          <label class="form-control col-sm-2" style="padding-bottom: 1px; background-color: gray;" for="">{{i.mark}}</label>
      </div>

    </div>
  </div>
  {% endfor %}
       
    <button type="submit" class="btn btn-primary">Submit</button>
         
         
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% endblock %}
