
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="form-title"><span>Student Information</span></h5>
            <form action="{% url 'add_student_excel' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
        
                 
             
            
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="course_class">
                    <option >Select Course Class</option>

                    {% for i in course_classes %}
                    <option value="{{i}}" >{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Subject</label>
                  <select class="form-control" name="test_subject">
                    <option selected>Choose Subject</option>
                    {% for i in course_subjects %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
                  </select>
                </div>
              </div>


              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control" name="course_session">
                    <option >Select Course Session</option>

                  <option value="2022-2023">2022-2023</option>
                  </select>
                </div>
              </div>
     

          
              <div class=" col-sm-11">
                <div class="form-group">
                  
              <label >Upload Student file</label><br>
              <input class="form-control" id="file" type="File" name="actual_file_name" >
                </div>
              </div>
   
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% endblock %}
