
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'add_question_outcome' %}" method="POST">
              <!-- <div class="row"> -->
              <div class="col-12">
                <h5 class="form-title"><span>Filter Class</span></h5>
              </div>
             
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="test_class">
                    {% for i in test_class %}
                <option value="{{i}}" selected>{{i}}</option>
                {% endfor %}
                  </select>
                </div>
              </div>
     


        

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Choose Subject</label>
                  <select class="form-control" name="test_session">
                    {% for i in test_subject %}
                    <option value="{{i}}" selected>{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control" name="test_subject">
                    {% for i in test_session %}
                <option value="{{i}}" selected>{{i}}</option>
                {% endfor %}
                  </select>
                </div>
              </div>
     
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Test</label>
                  <select class="form-control" name="test_type">
                  
                    {% for i in test_type %}
                    <option value="{{i}}" selected>{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     
              {% with ''|center:count as range %}
              {% for _ in range %}

             
              <div class=" col-sm-9">
                <div class="form-group">
                  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text form-control">Question {{ forloop.counter}}</span>
                  </div>
                    <input type="text" class="form-control"  name="mark{{ forloop.counter}}"  placeholder="Maximum Marks">
                  
                 <div class="input-group-append">       
                      <select class="form-control mb-3"  name="text{{ forloop.counter}}" aria-label=".form-select-lg example">
                        <option selected>Select Course Outcome </option>
                        {% with ''|center:co_count as range %}
                        {% for _ in range %}
                        <option value="LO{{ forloop.counter}}">LO{{ forloop.counter}}</option>
                        {% endfor %}
                        {% endwith %}
                                        
                      </select>
                </div>
           
         
                </div>
              </div>

            </div>
              {% endfor %}
              {% endwith %}
           
     
             
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% endblock %}
