
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'add_student' %}" method="GET">
              <!-- <div class="row"> -->
              <div class="col-12">
                <h5 class="form-title"><span>Filter Class</span></h5>
              </div>
             
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="student_class" id="student_class1">
                    <option selected>Choose Class</option>
                    {% for i in teacher_classes %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     


       
     

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Select Subject</label>
                  <select class="form-control" name="subject" id="subject">
                  <option value="">Select Subject</option>
                  </select>
                </div>
              </div>
     
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control" name="course_session"  id="course_session">
                    <option selected>Choose Session</option>

                  </select>
                </div>
              </div>
     

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script >
     $("#student_class1").change(function () {
        var student_class1 = $(this).val();
        
        alert(student_class1)
        $.ajax({
            url: '/teacher/filter_class_subject1/',
            data: {
                'student_class': student_class1
            },
            dataType: 'json',
            success: function (data) {
              $('#subject').find('option').remove();
              $('#subject').append($('<option>', {
                    value: "Select Subject",
                    text:  "Select Subject"
                }));
                $('#course_session').find('option').remove();
              $('#course_session').append($('<option>', {
                    value: "Select Session",
                    text:  "Select Session"
                }));
              for (var i in data['subject_data']) {
              subject=data['subject_data'][i]
              alert(subject)
              $('#subject').append($('<option>', {
                    value: subject,
                    text: subject
                }));
              }
            }
        });

    });

    $("#subject").change(function () {
        var course_subject = $(this).val();
        var course_class =$('#student_class1 :selected').text();

        alert(course_class)
        $.ajax({
            url: '/teacher/add_student_filter_class_subject/',
            data: {
                'course_subject': course_subject,
                'course_class': course_class
            },
            dataType: 'json',
            success: function (data) {
              for (var i in data['session_list']) {
              subject=data['session_list'][i]
              alert(subject)
              $('#course_session').append($('<option>', {
                    value: subject,
                    text: subject
                }));
              }
            }
        });

    });
</script>
    {% endblock %}
