
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'add_student_marks' %}" method="GET">
              <!-- <div class="row"> -->
              <div class="col-12">
                <h5 class="form-title"><span>Filter Class</span></h5>
              </div>
             
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control" name="test_session">
                    <option selected>Choose Session</option>
                    {% for i in session %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     


              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="test_class" id="test_class">
                    <option selected>Choose Class</option>
                    {% for i in class_all %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Subject</label>
                  <select class="form-control" name="test_subject" id="test_subject">
                    <option selected>Choose Subject</option>
                  
                  </select>
                </div>
              </div>

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Test</label>
                  <select class="form-control" name="test_type">
                    <option selected>Choose Test Type</option>
           
                <option value="Unit_Test_1">Unit Test 1</option>
                <option value="Unit_Test_2">Unit Test 2</option>
                <option value="Unit_Test_3">Unit Test 3</option>
                <option value="Unit_Test_4">Unit Test 4</option>
                <option value="Semester1">Semester 1</option>
                <option value="Semester2">Semester 2</option>
              
                  </select>
                </div>
              </div>
     
         
             
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#test_class").change(function () {
     var course_class = $(this).val();

     $.ajax({
         url: '/teacher/teacher_select_wise_subject/',
         data: {
             
             'course_class': course_class
         },
         dataType: 'json',
         success: function (data) {
           $("#test_subject").empty();
           $('#test_subject').append($('<option>', {
                 value: 'Select Subject',
                 text: 'Select Subject'
             }));
           for (var i in data['subject_data']) {
           subject=data['subject_data'][i]

           
           $('#test_subject').append($('<option>', {
                 value: subject,
                 text: subject
             }));
           }
         }
     });

 });


</script>
    {% endblock %}
