
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Select Subject Outcomes</h3>
       
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form action="{% url  'add_question_outcome' %}" method="GET">
              <!-- <div class="row"> -->
              <div class="col-12">
                <h5 class="form-title"><span>Filter Class</span></h5>
              </div>
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Session</label>
                  <select class="form-control" name="test_session">
                    <option value="" selected>Select Session</option>
                    {% for i in session_list %}
                    <option value="{{i}}" >{{i}}</option>
                    {% endfor %}
                  </select>
                
                </div>
              </div>
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Class</label>
                  <select class="form-control" name="test_class" id="test_class">
                    <option selected>Choose Class</option>
                    {%  for i in class_list  %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
     


        

              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Choose Subject</label>
                  
                  <select class="form-control" name="test_subject" id="test_subject">
                    <option selected>Choose Subject</option>

                
                  </select>
                </div>
              </div>

        
     
              <div class=" col-sm-11">
                <div class="form-group">
                  <label>Test</label>
                  <select class="form-control" id="test_type" name="test_type">
                    <option selected>Choose Test</option>

                 
                  </select>
                </div>
              </div>
     
         <button type="submit"  class="btn btn-primary">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
       $("#test_class").change(function () {
        var course_class = $(this).val();

        $.ajax({
            url: '/teacher/teacher_select_wise_subject/',
            data: {
                
                'course_class': course_class
            },
            dataType: 'json',
            success: function (data) {
              $("#test_subject").empty();
              $('#test_subject').append($('<option>', {
                    value: 'Select Subject',
                    text: 'Select Subject'
                }));
              for (var i in data['subject_data']) {
              subject=data['subject_data'][i]

              
              $('#test_subject').append($('<option>', {
                    value: subject,
                    text: subject
                }));
              }
            }
        });

    });






    $("#test_subject").change(function () {
        var test_subject = $(this).val();
        var course_class = $('#test_class').val();

        $.ajax({
            url: '/teacher/class_subject_test/',
            data: {
                
                'course_class': course_class,
                'test_subject': test_subject
            },
            dataType: 'json',
            success: function (data) {
              $("#test_type").empty();
              $('#test_type').append($('<option>', {
                    value: 'Select Test',
                    text: 'Select Test'
                }));
              for (var i in data['subject_data']) {
              subject=data['subject_data'][i]

              
              $('#test_type').append($('<option>', {
                    value: subject,
                    text: subject
                }));
              }
            }
        });

    });






    // $("#test_session").change(function () {
    //     var test_session = $(this).val();

    //     $.ajax({
    //         url: '/teacher/class_subject_test/',
    //         data: {
                
    //             'test_session': test_session
    //         },
    //         dataType: 'json',
    //         success: function (data) {
    //           $("#test_subject").empty();
    //           $('#test_subject').append($('<option>', {
    //                 value: 'Select Subject',
    //                 text: 'Select Subject'
    //             }));
    //           for (var i in data['subject_data']) {
    //           subject=data['subject_data'][i]

              
    //           $('#test_subject').append($('<option>', {
    //                 value: subject,
    //                 text: subject
    //             }));
    //           }
    //         }
    //     });

    // });



</script>
    {% endblock %}
