
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Test</h3>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="form-title"><span>Test Information</span></h5>
            <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>Subject Name</th>
                    <th>Test Type</th>
             
                    <!-- <th>Roll No</th>
                    <th>Class</th> -->

                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in tests %}
                  <tr>
                    <td>{{i.subject_info.subject_info.subject_name}}</td>
                    <td>{{i.test_name}}</td>
                    <td>{{i.student_class}}</td>

                    <td class="text-right">
                      <!-- <div class="actions">
                        <a  class="btn btn-sm bg-success-light mr-2">
                          <i class="fas fa-pen"></i>
                        </a>
                        <a  class="btn btn-sm bg-danger-light">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div> -->
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% endblock %}
