
     

{% extends 'teacherbase.html' %}
{% load static %}

{% block content %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="students.html">Students</a></li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          

          <div class=" col-sm-5">
            <div class="form-group">
              <form action="{% url 'filter_student_marks_outcomes1' %}" method="post">
                {% csrf_token %}

              <label>Session</label>
              <select class="form-control" name="subject">
                <option value="" selected>Select Subject</option>
              
                
                <option value="English" >English</option>
              
              </select>
              <label>Session</label>
              <select class="form-control" name="session">
              <option value="">Select Session</option>
                <option value="2022-2023" 
                >2022-2023</option>
              
              </select>
              <label>Class</label>
              <select class="form-control" name="subject_class">
              <option value="">Select Session</option>
              <option value="1" selected>1</option>
              </select>
              <button class="btn-primary" type="submit">Submit </button>
            </form>
            </div>
          </div>
          
          {% if image_bool == True %}
          <img src="{% static 'course_outcome.jpg'  %}" alt=""  height="230px" width="230px" style="position: relative; left: 600px; top: -280px;" >
          {% endif %}

          <div class=" col-sm-5">
            <div class="form-group">
            
            </div>
          </div>
          <div class="card-body">
            <h5 class="form-title"><span>Student Information</span></h5>
            

            <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>Roll no.</th>
                    {% for i in co_head %}
                    <th>{{i}}</th>
               
             
                    <!-- <th>Roll No</th>
                    <th>Class</th> -->
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for key, value in all_over_dict.items %}
                  <tr>
                    <td>{{key}}</td>
                    {% for key2,value2 in value.items %}
                   {% if value2 ==  True %}
                    <td>
                        <i class="fas fa-check"></i>
                    </td>
                    {% else %}
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="20px"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>
                    </td>

                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
              </table>

              
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<br>
      

    {% endblock %}
