{% load static %}
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                    <li class="menu-title">
                      <span>Main Menu</span>
                    </li>
        
            
        
                    <!-- <li class="submenu">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Student</span> <span class="menu-arrow"></span></a>
                     <ul>
                       <li><a href="{% url 'filter_class_subject' %}">Add Student Manually</a></li>
                       <li><a href="{% url 'add_student_excel' %}">Add Students from excel</a></li>
                       <li><a href="{% url 'view_student' %}">View Student</a></li>
                     </ul>
                     
                   </li> -->
                   <li class="submenu">
                    <a href="#"><i class="fa fa-university"></i> <span> Subjects </span> <span class="menu-arrow"></span></a>
                    <ul>
                      <!-- <li><a href="{% url 'filter_class_subject' %}">Add School</a></li> -->
                      <li><a href="{% url 'gov_add_subject' %}">Add Subjects</a></li>
                      <li><a href="{% url 'gov_view_subject' %}">View Subjects</a></li>
                     
                    </ul>
                    
                  </li>
                   <li class="submenu">
                    <a href="#"><i class="fa fa-university"></i> <span> School </span> <span class="menu-arrow"></span></a>
                    <ul>
                      <!-- <li><a href="{% url 'filter_class_subject' %}">Add School</a></li> -->
                      <li><a href="{% url 'school_view' %}">View School</a></li>
                     
                    </ul>
                    
                  </li>
                 
                  
                  </ul>
                </div>
            </div>
         </div>
   
      <footer>
                
      </footer>




