
     
     

{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="row alertMessages" style="position: absolute; width: 100%; z-index: 101; margin-top: 15px; backdrop-filter: blur(3px); ">
  <div class="col-md-3 col-1"></div>
  <div style="font-family: 'Lato', sans-serif;"
    class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show col-md-6 col-10 text-center">
    {{message}}
    <a href="{% url 'assign_teacher' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Assign Subject</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="teachers.html">School</a>
          </li>
          <li class="breadcrumb-item active">Assign Subject</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'assign_subject' %}"  enctype="multipart/form-data" method="POST">
            <div class="row">
                      
              {% csrf_token %}

              <div class="col-sm-11">
                <div class="form-group">
                  <label for="">Class</label>
                  <select class="form-control form-select-lg mb-3"   name="course_class"  id="course_class" aria-label=".form-select-lg example">
                    <option selected>Choose Class</option>
                    {% for i in subject_class %}
                    <option value="{{i}}"  >{{i}}</option>
                    {% endfor %}
                  </select>
        
                </div>
              </div>
              <div class="col-sm-11">
                <div class="form-group">
                  <label for="">Subject</label>
                  <select class="form-control form-select-lg mb-3"   name="course_subject" id="course_subject" aria-label=".form-select-lg example">
                    <option selected>Choose Subject</option>
                  
                  </select>
        
                </div>
              </div>
            
              
             
  
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  $("#course_class").change(function () {
        var course_class = $(this).val();

        alert(course_class)
        $.ajax({
            url: '/school/govt_class_wise_subject/',
            data: {
                
                'course_class': course_class
            },
            dataType: 'json',
            success: function (data) {
              $("#course_subject").empty();
              $('#course_subject').append($('<option>', {
                    value: 'Select Subject',
                    text: 'Select Subject'
                }));
              for (var i in data['subject_data']) {
              subject=data['subject_data'][i]
              alert(subject)
              $('#course_subject').append($('<option>', {
                    value: subject,
                    text: subject
                }));
              }
            }
        });

    });
</script>
{% endblock %}


